*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}


body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vw;
    background-color: #212121;
}
.container{
    position: relative;
    margin: auto;
    top: 20vw;
}

.clock
{
    
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid  rgba(255,255,255,0.25);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg* var(--svar)));
    inset: 1%;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg*var(--svar)));
    display: inline-block;
    font-size: 4vw;
}

.clock::before{
    content: '';
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #ffffff;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    background-color:var(--clr);
    border-radius: 8px;
    
}

#hour i
{

   width: 1.3vw; 
   height: 13vw;
}

#min i{
    width: 1vw;
    height: 15vw;
}

#sec i{
    width:0.6vw ;
    height: 17vw;
}